@import "./medias.scss";

.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  // flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.Powered {
  color: #3f47cc;
  &:hover {
    color: #fed501;
  }
}

.title a {
  background-image: url("../assets/images/prapor3.jpg");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 11.5rem;
}

.title {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 2rem;
  color: #3f47cc;
  @include media_tablet {
    font-size: 4rem;
  }
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  height: 180px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  p {
    background: -webkit-linear-gradient(#0070f3, #0070f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
